body{
	background-color: #ccf;
	margin: 0 auto;
	padding: 0;
	margin-top: -37px;
}

h1{
	text-align: center;
	font-family: shruti;
	font-family: buxton sketch;
	font-size: 3em;
	color: #8B81E6;
	text-shadow: 1px 1px 3px blue; 
}

h2{
	text-align: right;
	font-family: lobster;
	font-size: 28pt;
	color: #8B81E6;
	text-shadow: 1px 1px 3px blue;
	margin-right: 10px;
	margin-top: -45px;
}

 p{
	text-align: center;
	font-family: lobster;
	font-size: 24pt;
	color: orange;
	text-shadow: 1px 1px 3px red; 
}

.letter-admin > td > p{
	text-align: center;
	font-family: lobster;
	font-size: 14pt;
	color: blue;
	text-shadow: 0px 0px 0px transparent; 
}

img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
}

a {
	text-decoration: none;
	cursor: pointer;
}

li {
	list-style-type: none;
}

td{
	/*border: solid 1px;*/
	padding: 0px 10px 0px 10px;
}

tr:nth-child(2){
	background: #7AFFE5;
}

table{
	margin: 0 auto;
	padding: 0;
	margin-top: 80px;
	box-shadow: 1px 1px 5px black;
}

#menu-lineas{
	position: fixed;
	top: 1%;
	right: 1%;
}

#box-admin{
	position: absolute;
	left: 0;
	top: 15%;
}

input[type=button]{
	background: #3d3d3d;
	color: white;
	padding: 10px 20px 7px 20px;
	border: none;
	border-radius: 2px;
}

input[type=button]:hover{
	background: #4d4d4d;
}

input[type=button]:active{
	background: gray;
	color: black;
}